
body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #ddd;
  font-size: 14px;
}

span.red {
  color: red;
}

.main{
  margin-top: 40px;
}

.profile ul{
  list-style: none;
}